<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/src/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="p-3 mb-2 bg-dark text-white text-center font-weight-bold custom-heading">
    ÖĞRENCİ OTOMASYONU
  </div>
  
  <div class="content">
    <div class="custom-content">
      <h2 class="h2">Hoş Geldiniz!</h2>
  
      <p class="custom-paragraph">Öğrenci otomasyonu ile ilgili işlemleri buradan yapabilirsiniz.</p>
  
      <div class="row justify-content-center">
        <button type="button" class="btn btn-secondary custom-button" onclick="window.location.href='ogrenci-ekle.html'">
          Öğrenci Ekle
        </button>
        
        <button type="button" class="btn btn-secondary custom-button" onclick="window.location.href='ogrenci-listele.html'">
          Öğrenci Listele
        </button>
      </div>
    </div>
  </div>
  </body>
</html>