<!DOCTYPE html>
<html lang="tr">
<head>
    <script src="/static/src/js/ogrenciler.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/src/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
    <div class="p-3 mb-2 bg-dark text-white text-center font-weight-bold custom-heading">ÖĞRENCİ LİSTESİ</div>
    <div class="container">
        <table class="table table-dark custom-table" id="liste">
            <thead>
                <tr class="text-center">
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Yaş</th>
                <th scope="col">İşlemler</th>
              </tr>
            </thead>
        </table>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-secondary custom-button" onclick="window.location.href='index.html'">Anasayfa</button>
    </div>
</body>
</html>